body {
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
  background-color: #ffffff;
  display: flex;
}

/* Sidebar styles */
.sidebar {
  /* full height and 1/5 width */
  height: 100vh; 
  width: 20vw; 
  top: 0;
  left: 0;
  
  /* green sidebar */
  background-color: #5c978f;

  /* text size */
  font-size: 1.5vw;
  
  /* center vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  /* bit of padding around */
  padding: 1vw;

  /* no scroll */
  position: fixed;

}

.sidebar h2 {
  margin: 0 0 20px;
  font-size: 1.4rem;
  text-align: center;
}

.sidebar a {
  color: #1e322f;
  text-decoration: none;
  padding: 10px;
  margin: 5px 0;
  display: block;
  border-radius: 5px;  
}

.sidebar a:hover {
  /* highlight and bold on hover */
  background-color: #497a73;
  font-weight: 600;
}


/* Main content */
.content {
  color: #2b2b2b;
  margin-left: 25vw; /* Push content aside */
  padding: 0.1vh;
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding-right: 2vw;
  
}
.content h1,
.content p {
  margin-top: 2px;   /* smaller gap above */
  margin-bottom: 10px; /* smaller gap below */
}

.content h1 {
    font-size: 3vw;
}
.content p {
    font-size: 1vw;
}


.profile-pic {
  display: block;           /* make it behave like a block element */
  margin: 0 auto 20px;      /* center horizontally + add bottom spacing */
  width: 20vw;             /* set size */
  height:20vw;            /* keep it square */
  border-radius: 50%;       /* makes it round */
  object-fit: cover;        /* crop to fit nicely */
  
}

.content_e {
  color: #2b2b2b;
  margin-left: 25vw; /* Push content aside */
  padding: 0.1vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.content_e h1,
.content_e p {
  margin-top: 2px;   /* smaller gap above */
  margin-bottom: 10px; /* smaller gap below */
  
}


.project-card {
  background-color: #fff;
  border-radius: 15px;            /* rounded corners */
  margin-top: 1vh;
  padding: 1vw;
  
  box-shadow: 0 4px 12px rgba(0,0,0,0.15); /* drop shadow */
  max-width: 70vw;
}

.project-card h2 {
  margin-top: 0;
}

.project-card p {
  margin: 10px 0;
  line-height: 1.4;
}

.content a {
  display: inline-block;
  margin-top: 10px;
  color: white;
  background-color: #2d4d48;
  padding: 8px 12px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.project-card a:hover {
  background-color: #223936;
}

::selection {
  background: #3c5b57;
  color: #ffffff;
}
